
<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
        <ul class="nav">
            <li class="nav-item">
            <a class="nav-link text-body-secondary" >
                <strong>BFM Application Comptable</strong>
            </a>
            </li>
        </ul>
        </nav>
        <div class="copyright">
        2024, made with <i class="fa fa-code heart text-dark"></i> by
        <a>Symfony</a>
        </div>
        <div>
        Distributed by
        <a target="_blank">BFM CE</a>.
        </div>
    </div>
</footer>