{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}
{% block page_title %}Section Demandeur{% endblock %}
{% block page_subtitle %}Enregistrement de demande de fonds{% endblock %}
{# {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/xhr.js') }}" ></script>
    <script src="{{ asset('js/scr/scr_admin_add_user.js') }}" ></script>
{% endblock %} #}

{% block page_main_content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Remplissez ce formulaire de demande</div>
            </div>
            <form id="add_user_form" action="" method="post">
                <div class="card-body">
                    <div class="row">
                        
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="matricule">Numéro matricule</label>
                                <input type="text" name="user_matricule" class="form-control" id="matricule" value="MATRICULE A CHANGER" readonly/>
                            </div>
                            <div class="col-md-6">
                                <label for="date_input">Date d'opération</label>
                                <input type="date" name="dm_date" class="form-control" id="date_input"/>
                            </div>
                        </div>

                        <div class="row form-group gy-3 mb-3">
                            <div class="col-md-6">
                                <label for="dm_montant">Insérer le montant à demander</label>
                                <input type="text" name="dm_montant" class="form-control" id="dm_montant" placeholder="montant du demande"/>
                            </div>
                            <div class="col-md-6">
                                <label>Mode de paiement</label><br />
                                <div class="d-flex">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"/>
                                        <label class="form-check-label" for="flexRadioDefault1">En éspèces</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                                        <label class="form-check-label" for="flexRadioDefault2" >Par chèques</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="formSelectGroupeAffectation">Motif du demande</label>
                            <select name="id_plan_comptable" class="form-select" id="formSelectGroupeAffectation"> 
                                    <option value="1">Boisson Foot</option>
                                    <option value="2">Achat maillot basket</option>
                                    <option value="3">Location terrain synthetique</option>
                            </select>
                        </div>
                        
                        <div class="row form-group gy-3 mb-3">
                            <div class="col-md-6">
                                <label for="formSelectGroupeAffectation">Entité pour l'opération</label>
                                <select name="id_plan_comptable" class="form-select" id="formSelectGroupeAffectation"> 
                                        <option value="1">Entité Siège</option>
                                        <option value="2">Entité RT-TMS</option>
                                        <option value="3">Entité RT-ATR</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="dm_piece">Insérer une pièce jointe</label>
                                <input type="file" name="dm_piece" class="form-control" id="dm_piece"/>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="card-action text-end">
                    <a href="{{ path('demandeur.liste_demande') }}" class="btn btn-dark">Annuler</a>
                    <button id="displayNotif" type="submit" class="btn btn-secondary">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}