{% extends 'base.html.twig' %}

{% block page_title %}Section Demandeur{% endblock %}
{% block page_subtitle %}Demande de décaissement de fonds{% endblock %}


{# Bouton d'action #}
{% block page_options %}
    <a href="{{ path("admin_add_user") }}" class="btn btn-secondary">Nouvelle demande</a>
{% endblock %}

{% block page_main_content %}
    
{% endblock %}
