{% extends 'base.html.twig' %}

{% block title %}Gestion des r么les: affectation de nouveau r么le{% endblock %}
{% block page_title %}Enregistrement d'un nouveau r么le{% endblock %}
{% block page_subtitle %}Back-Office{% endblock %}

{% block page_main_content %}
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body  py-5 px-md-5">
                    <h5 class="card-title mb-2">Formulaire d'ajout de r么le</h5>
                    {{ include('groupe_utilisateur/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
