{% extends 'base.html.twig' %}

{% block title %}Gestion des rôles: affectation de nouveau rôle{% endblock %}
{% block page_title %}Back-Office{% endblock %}
{% block page_subtitle %}Page de création de nouveau rôle, ou groupe{% endblock %}

{% block page_main_content %}
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body  py-5 px-md-5">
                    <h5 class="card-title mb-2">Formulaire d'ajout de rôle</h5>
                    {{ include('groupe_utilisateur/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
