<li class="nav-section">
    <span class="sidebar-mini-icon">
    <i class="fa fa-ellipsis-h"></i>
    </span>
    <h4 class="text-section">Comptable</h4>
</li>
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#comptable">
        <i class="fas fa-th-list"></i>
        <p>Accès comptable</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="comptable">
        <ul class="nav nav-collapse">
            <li>
                <a href="{{ path('comptable.graphe') }}">
                    <span class="sub-item">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ path('comptable.form_depense_directe') }}">
                    <span class="sub-item">Comptabilisation directe</span>
                </a>
            </li>
            <li>
                <a href="{{ path('comptable.suivi_comptabilisation') }}">
                    <span class="sub-item">Suivi opérations</span>
                </a>
            </li>
        </ul>
    </div>
</li>