<li class="nav-section">
    <span class="sidebar-mini-icon">
    <i class="fa fa-ellipsis-h"></i>
    </span>
    <h4 class="text-section">Commissaire aux comptes</h4>
</li>
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#list_demande">
        <i class="fas fa-th-list"></i>
        <p>Liste des demandes</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="list_demande">
        <ul class="nav nav-collapse">
            <li>
                <a href="{{ path('app_commisaire_compte') }}">
                    <span class="sub-item">Les demandes</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_commisaire_approvisionnement') }}">
                    <span class="sub-item">Les approvisionnement</span>
                </a>
            </li>
        </ul>
    </div>
</li>