<li class="nav-section">
    <span class="sidebar-mini-icon">
    <i class="fa fa-ellipsis-h"></i>
    </span>
    <h4 class="text-section">Validateur</h4>
</li>
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#sg">
        <i class="fas fa-th-list"></i>
        <p>Demandes en cours</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="sg">
        <ul class="nav nav-collapse">
            <li>
                <a href="{{ path('SG.liste_demande_en_attente') }}">
                    <span class="sub-item">Lister</span>
                </a>
            </li>
        </ul>
    </div>
</li>