<li class="nav-section">
    <span class="sidebar-mini-icon">
    <i class="fa fa-ellipsis-h"></i>
    </span>
    <h4 class="text-section">Trésorier</h4>
</li>
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#tresorier">
        <i class="fas fa-th-list"></i>
        <p>Demandes en attentes</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="tresorier">
        <ul class="nav nav-collapse">
            <li>
                <a href="{{ path('tresorier.liste_demande_en_attente') }}">
                    <span class="sub-item">Lister</span>
                </a>
            </li>
        </ul>
    </div>
</li>
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#etat_financier">
        <i class="fas fa-th-list"></i>
        <p>Etat financier</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="etat_financier">
        <ul class="nav nav-collapse">
            <li>
                <a href="{{ path('export.journal') }}">
                    <span class="sub-item">Journal de caisse</span>
                </a>
            </li>
            <li>
                <a href="{{ path('export.etat') }}">
                    <span class="sub-item">Etat financier</span>
                </a>
            </li>
        </ul>
    </div>
</li>