<li class="nav-section">
    <span class="sidebar-mini-icon">
    <i class="fa fa-ellipsis-h"></i>
    </span>
    <h4 class="text-section">Trésorier</h4>
</li>
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#tresorier">
        <i class="fas fa-th-list"></i>
        <p>Gestion des demandes</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="tresorier">
        <ul class="nav nav-collapse">
            <li>
                <a href="{{ path('tresorier.liste_demande_en_attente') }}">
                    <span class="sub-item">Attentes de déblocage</span>
                </a>
            </li>
        </ul>
    </div>
</li>