<!-- Modal pour mise à jour du montant -->
<div class="modal fade" id="clotureModal" tabindex="-1" aria-labelledby="clotureModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <form id="cloturer" action="{{ path('tresorier.modifier_budget') }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clotureModalLabel">Voullez vous vraiment cloturer cette exercice?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body card-body col-12 d-flex flex-column gap-2">
                    <!-- Message de mise à jour du formulaire sera inséré ici -->
                    <div class="form-group col-10 d-flex flex-row">
                        <label class="col" for="id-input"> Exercice id: </label>
                        <input type="number" id="id-input" name="id" class="form-control col" readonly>
                    </div>
                    <div class="form-group col-10 d-flex flex-row">
                        <label class="col" for="date-debut-input"> Date de debut: </label>
                        <input type="date" id="date-debut-input" name="date-debut" class="form-control col" readonly>
                    </div>
                    <div class="form-group col-10 d-flex flex-row">
                        <label class="col" for="date-debut-fin"> Date de fin: </label>
                        <input type="date" id="date-debut-fin" name="date-fin" class="form-control col">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="non" name="non" data-bs-dismiss="modal" class="btn btn-danger">NON
                    </button>
                    <button type="button" id="oui" name="oui" class="btn btn-success">Cloturer</button>
                </div>
            </div>
        </form>
    </div>
</div>