{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}
{% block page_title %}Informations sur le plan de compte du CE{% endblock %}
{% block page_subtitle %}Gestion plan de compte{% endblock %}


{% block page_main_content %}
    <div class="row">
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Le plan de compte</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-hover">
                            {# Column #}
                            <thead>
                                <tr id="cols">
                                    <th id="isCol" scope="col">Numero du compte</th>
                                    <th id="isCol" scope="col">Intitulé du compte</th>
                                    <th id="isCol" scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>numéro du compte</th>
                                    <th>intitulé du compte</th>
                                    <th>actions</th>
                                </tr>
                            </tfoot>
                            {# Data #}
                            <tbody id="bodyList">
                                <tr id="0">
                                    <td id=""></td>
                                    <td id=""></td>
                                    <td>
                                        <a href="" class="btn btn-dark btn-sm update">detail</a>
                                        <a href="" class="btn btn-label-secondary btn-sm update">modifier</a>
                                    </td>
                                </tr>                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>    
{% endblock %}

